
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to most collections
    match /jobs/{jobId} {
      allow read: if true;
      allow write: if request.auth != null &&( get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'employer' || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'employee' );
      allow update : if request.auth != null && (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'employee' || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'employer') 
    }
    match /companies/{companyId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow update: if request.auth != null && get(/databases/$(database)/documents/companies/$(companyId)).data.ownerId == request.auth.uid;
    }
    match /reviews/{reviewId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /salaries/{salaryId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /interviews/{interviewId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Users can only manage their own profile
    match /users/{userId} {
      allow read: if true;
      allow create, 
      update, 
      delete: if request.auth != null && request.auth.uid == userId;
    }

    // Application rules
    match /applications/{applicationId} {
      allow create: if request.auth != null && (request.resource.data.applicantId == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'employee' );
      allow read: true
      allow update: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'employee' ||
        resource.data.applicantId == request.auth.uid || // Applicant can update (e.g. withdraw)
        get(/databases/$(database)/documents/companies/$(resource.data.companyId)).data.ownerId == request.auth.uid // Employer can update status
      );
    }
  }
}

